.container img {
	margin-right: 5px;
}

.container {
	width: 100% ; 
	height: 30%; 
	background-color: #FFF0F5; 
}

body {
	background-color: #FFF0F5; 
}

.container2 {
	background-color: #FFFFFF;
	width: 100%;
	height: 1150px;
}

.container2 p {
	font-size: 35px;
	
}


.titel p {
	background-color: #FFF0F5; 
	width: 60%;
	height: 30%;
	margin-left: 40%;
	margin-top: 147px;
	margin-bottom: 147px;
	color: #FF69B4;
	
}


a:link {
  color: #ff69b4;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #ff69b4;
  background-color: transparent;
  text-decoration: none;
}
